<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.application3DE">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:name=".utilities.MultiLanguageApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobApp">
        <activity
            android:name=".ProfileManagement"
            android:label="@string/title_activity_profile_management"
            android:theme="@style/Theme.MobApp.NoActionBar"></activity>
        <activity android:name=".orientation.AttentionDualTaskTestWalkBased" />
        <activity android:name=".orientation.AttentionWalkingTest" />
        <activity
            android:name=".orientation.AttentionWalkingLanding"
            android:label="@string/title_activity_attention_walking_landing"
            android:theme="@style/Theme.MobApp.NoActionBar" />
        <activity
            android:name=".orientation.AttentionResultsPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".orientation.AttentionDualTaskTest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".orientation.AttentionDualTaskStart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".orientation.AttentionDualTaskInstruction"
            android:screenOrientation="portrait" />
        <activity android:name=".decisionMaking.Dec_making_task" />
        <activity
            android:name=".verbalMemory.ResultActivity"
            android:label="@string/title_activity_result"
            android:theme="@style/Theme.MobApp.NoActionBar" />
        <activity android:name=".verbalMemory.ProgressActivity" />
        <activity
            android:name=".verbalMemory.LevelMusicPlayActivity"
            android:label="@string/title_activity_level_music_play"
            android:theme="@style/Theme.MobApp.NoActionBar" />
        <activity android:name=".verbalMemory.SpeechTestActivity" />
        <activity android:name=".verbalMemory.WaitingActivity" />
        <activity android:name=".verbalMemory.SinhalaTestActivity" />
        <activity
            android:name=".activity_choice_landing"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MobApp.NoActionBar" />
        <activity
            android:name=".orientation.TccImageLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".orientation.OrientationChoice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".orientation.AttentionSingleTaskLanding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".orientation.AttentionSpeechTest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".orientation.AttentionChoiceLanding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".orientation.AttentionInstructions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".orientation.AttentionSpeechLanding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".orientation.tccCalculation"
            android:screenOrientation="portrait" />
        <activity android:name=".Landing" />
        <activity android:name=".SignInPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user_details_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

        <activity android:name=".Visual.MainActivity" />
        <activity android:name=".Visual.Third" />
        <activity android:name=".Visual.Results" />
        <activity android:name=".Visual.shapes.second" />
        <activity android:name=".Visual.shapes.Shape2" />
        <activity android:name=".Visual.shapes.Shape3" />
        <activity android:name=".Visual.shapes.shape4" />
        <activity android:name=".Visual.shapes.Shape5" />
        <activity android:name=".Visual.shapes.Shape6" />
        <activity android:name=".Visual.shapes.Shape7" />
        <activity android:name=".Visual.shapes.Shape8" />
        <activity android:name=".Visual.shapes.Shape9" />
        <activity android:name=".Visual.shapes.Shape10" />
    </application>
</manifest>